body {
	font-family: "Montserrat";
}

/*Title Section*/

#title {
	background-color: #ff577f;
	color: white;
}

.container-fluid {
	padding: 3% 5%;
}

h1 {  
	font-family: "Montserrat-Bold", sans-serif;
	font-size: 3.5rem;
	line-height: 1.5;
	font-weight: 900;
}

h2 {  
	font-family: "Montserrat-Bold", sans-serif;
	font-size: 3rem;
	line-height: 1.5;
	font-weight: 700;
}

h3 {
	font-size: 1.5rem;
	font-family: "Montserrat";
	font-weight: bolder;	

}

p {
	color: #8f8f8f;
}

/*Navigation Bar*/

.navbar {
	padding: 0 0 4.5rem;
}

.navbar-brand {
	font-family: "Ubuntu";
	font-size: 2.5rem;
	font-weight: bold;
}

.nav-item {
	padding: 0 18px;
}

.nav-link {
	font-size: 1.2rem;
	font-family: "Montserrat"
}

/*Download Buttons*/

.download-button {
	margin: 5% 3% 5% 0;
}

.title-image {
	width: 60%;
	transform: rotate(25deg);
}

/*features*/

#features {
	background-color: #eeeeee;
	padding: 7% 15%;
}

.feature-box {
	text-align: center;
	padding: 5%;

}

.icon {
	color :#ff884b;
	margin-bottom: 1rem;
}

.icon:hover {
	color : #ff577f;
	margin-bottom: 1rem;
}

/*testimonials*/

#testimonials {
	background-color: #ff884b;
	text-align: center;
	color: #ffffff;
}

.testimonial-image {
	width: 10%;
	border-radius: 100%;
	margin: 20px;

}

.carousel-item {
	padding: 7% 15%;

}

/*Press*/

#press {
	background-color: #ff884b;
	text-align: center;
	padding-bottom: 3%;
}

.press-logo {
	width: 15%;
	margin: 20px 20px 50px;
}


/*pricing*/

#pricing {
	text-align: center;
	padding: 10%;
}

.pricing-column {
	padding: 3% 2%
}

/*call to action*/

#cta {
	background-color: #ff577f;
	text-align: center;
	color: white;
	padding-top: 5%;

}

#footer  {
	text-align: center;
	background-color: white;
}

.social-icon {
	margin: 20px 10px;
}

@media (max-width: 1028px) {

	#title {
		text-align: center;
	}

	.title-image {
		position: static;
		transform: rotate(0);
	}
}

a {
	text-decoration: none;
	color: grey;
}